footer {
    background-color: $blue-color;
    color: white;
    text-align: center;
    padding: 1rem; 

    p {
        display: flex;
        align-items: center;
        justify-content: center;

        .fa-stack-1x {
            color: $blue-color;
        }
    }
}